<h1>Join Finsta!</h1>

<%= form_with(model: @user, local: true) do |form| %>
  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username, required: true %>
  </div>
  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, required: true %>
  </div>
  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, required: true %>
  </div>
  <%= form.submit 'Create Account' %>
<% end %>
